In [145]:
import numpy as np 
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
%matplotlib inline

filename= "data/data.csv"
raw = pd.read_csv(filename)

In [146]:
df = raw.dropna()
df.index = range(len(df))
print(df.shape)
df.isnull().values.any()

(25697, 25)

False

In [147]:
df.loc[:,'month'] = df['game_date'].str[5:7].astype(int)
df.loc[:,'year'] = df['game_date'].str[0:4].astype(int)
df = df.drop('game_date', axis = 1)
df = df.drop('team_name', axis = 1)
df = df.drop('shot_id', axis = 1)
df = df.drop('game_id', axis = 1)
df = df.drop('lon', 1)
df = df.drop('lat', 1)
df = df.drop('year', axis = 1)
df = df.drop('team_id', axis = 1)
df = df.drop('game_event_id', axis = 1)
#df = df.drop('season', axis = 1)
time = Series(df.minutes_remaining*60 + df.seconds_remaining)
df.loc[:,'time_remaining'] = time
df = df.drop('seconds_remaining', axis = 1)
df = df.drop('minutes_remaining', axis = 1)

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [148]:
# Loc_x, and loc_y binning
df['loc_x'] = pd.cut(df['loc_x'], 25)
df['loc_y'] = pd.cut(df['loc_y'], 25)

# Replace 20 least common action types with value 'Other'
rare_action_types = df['action_type'].value_counts().sort_values().index.values[:20]
df.loc[df['action_type'].isin(rare_action_types), 'action_type'] = 'Other'

## Matchup - (away/home)
df['home_play'] = df['matchup'].str.contains('vs').astype('int')
df.drop('matchup', axis=1, inplace=True)

In [149]:
df.info()
df.isnull().values.any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25697 entries, 0 to 25696
Data columns (total 17 columns):
action_type           25697 non-null object
combined_shot_type    25697 non-null object
loc_x                 25697 non-null category
loc_y                 25697 non-null category
period                25697 non-null int64
playoffs              25697 non-null int64
season                25697 non-null object
shot_distance         25697 non-null int64
shot_made_flag        25697 non-null float64
shot_type             25697 non-null object
shot_zone_area        25697 non-null object
shot_zone_basic       25697 non-null object
shot_zone_range       25697 non-null object
opponent              25697 non-null object
month                 25697 non-null int64
time_remaining        25697 non-null int64
home_play             25697 non-null int64
dtypes: category(2), float64(1), int64(6), object(8)
memory usage: 3.0+ MB

False

In [150]:
df.head()

,action_type,combined_shot_type,loc_x,loc_y,period,playoffs,season,shot_distance,shot_made_flag,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,opponent,month,time_remaining,home_play
0,Jump Shot,Jump Shot,"(-170.32, -150.4]","(-10.6, 22.8]",1,0,2000-01,15,0.0,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,POR,10,622,0
1,Jump Shot,Jump Shot,"(-110.56, -90.64]","(123.0, 156.4]",1,0,2000-01,16,1.0,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,POR,10,465,0
2,Jump Shot,Jump Shot,"(128.48, 148.4]","(156.4, 189.8]",1,0,2000-01,22,0.0,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,POR,10,412,0
3,Driving Dunk Shot,Dunk,"(-10.96, 8.96]","(-10.6, 22.8]",2,0,2000-01,0,1.0,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,POR,10,379,0
4,Jump Shot,Jump Shot,"(-150.4, -130.48]","(-44.835, -10.6]",3,0,2000-01,14,0.0,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,POR,10,572,0

In [151]:
#categorial_cols = [
    #'action_type', 'combined_shot_type', 'period', 'shot_type',
    #'shot_zone_area', 'shot_zone_basic', 'shot_zone_range', 'year',
    #'month', 'opponent', 'loc_x', 'loc_y']

#for cc in categorial_cols:
    #dummies = pd.get_dummies(df[cc])
    #dummies = dummies.add_prefix("{}#".format(cc))
    #df.drop(cc, axis=1, inplace=True)
    #df = df.join(dummies)

In [152]:
df.shape

(25697, 17)

In [153]:
df.to_csv('data/preprocess.csv',index=False)